/* Ajustes generales */

* {
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 1em;
    border: none;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    resize: none;
}
textarea{
    height: 8rem;
}

input[type=text]:focus, textarea:focus{
    border: 6px solid linear-gradient(-45deg, rgba(0,8,81,1) 0%, rgba(126,159,255,1) 33%, rgba(65,105,225,1) 66%, rgba(28,181,224,1) 100%);
    outline: none;
}

.button2{
    border-radius: 2rem;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;	
    font-size: 1rem;
    font-weight: 800;
    line-height: var(--h);
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all 2s ease-in;
}

input[type=submit]:focus{
    border: none;
}

.espaciado{
    margin: 10000px;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.plain_text2, .plain_text, .ubuntu {
    text-align: justify;
}

.half_fixed {
    width: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

a:visited, a:link{
    text-decoration: none;
    color: inherit;
}

a, .button2 {
    display: block;
    text-align: center;
    min-width: 47px;
    min-height: 40px;
    align-content: center;
    justify-content: center;
}

h2, h1{
    text-align: center;
}

body {
    background-color: white;
}
.full {
    width: 100%;
}
.centered{
    justify-content: center;
    align-items: center;
}
.b_black{
    background-color:  #333333;
}

.b_grey {
    background-color: #f2f2f2;
}

.b_blue, .active, .collapsible:hover, .button2  {
    background: linear-gradient(-45deg, rgba(0,8,81,1) 0%, rgba(126,159,255,1) 33%, rgba(65,105,225,1) 66%, rgba(28,181,224,1) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    outline: none;
}

.b_grey {
    background-color: hsla(206, 8%, 96%, 1);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.font_white{
    color: white;
}
.big_margin{
    margin-bottom:200px;
}

/*Tablas config*/

table, tr, td, th{
    border-collapse: collapse;
    
}
table{
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    border-radius: 5px;
}
.first_th{
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    border-radius: 5px 0px 0px 0px;
}
.last_th{
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
    border-radius: 0px 5px 0px 0px;
}
.last_td_right{
    border-radius: 0px 0px 5px 0px;
}
.last_td_left{
    border-radius: 0px 0px 0px 5px;
}   
ul{
    margin-top: 1%;
    margin-bottom: 1%;
}
th{
    background-color: rgba(16, 16, 16, 0.95);
    color: #eaf6ff;
    margin: 0px;
    padding: 3%;
    text-align: center;
}
tr:nth-child(even) {
        background-color: #cce6ff;
}
td{
    text-align: center;
    padding: 2%;
}

/*Config de imagenes */

figure img.img{
    width: 100%;
}


/*Text Config*/

nav, .plain_text2, small {
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
h3{
    font-family:'Dosis', sans-serif;
}
h2 {
    margin: 15px;
    font-family:'Arvo', sans-serif;
}
strong {
    color: hsla(233, 45%, 28%, 1);
}
.text_align_center {
    text-align: center;
}
.text_centered and .half{
    width: 46%;
    margin-left: 4%;
    text-align: justify;
}
.plain_text{
    font-family: 'Exo 2', sans-serif;
}

/*Header config*/
div.a_nav div a{
    box-shadow: none;
    border-radius: 5px 5px 5px 5px;
    transition: all 0.75s;
}

div.a_nav div a:hover{
    box-shadow: -5px 5px rgba(8, 112, 184, 0.7),
        -10px 10px rgba(8, 112, 184, 0.6),
        -15px 15px rgba(8, 112, 184, 0.5),
        -20px 20px rgba(8, 112, 184, 0.4),
        -25px 25px rgba(8, 112, 184, 0.3);
    background-color:  #404040;
}
nav.full {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
}

.inicio {
        order: 0;
}
.services {
    order: 2;
}

.contact {
    order: 3;
}

.abous_us {
    order: 1;
}

/*Footer config*/

div.footer div a:hover{
    color: gray;
}

/*Boton mamadisimo*/

.button{
    --w: 300px;
    --h: 45px;
    position: relative;
    display: flex;
    width: var(--w);
    height: var(--h);
    border: none;
    box-shadow: 0 4px 12px 0 rgba(0,0,0,.1);
}
.style-1 i {	
    transform: scaleX(1);
}
i {
    font-style: normal;
}
div.button i {
    content: '';
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(1,.49,.16,.96);
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
div.button i:nth-child(1) {transition-delay: .02s;}
div.button i:nth-child(2) {transition-delay: .04s;}
div.button i:nth-child(3) {transition-delay: .06s;}
div.button i:nth-child(4) {transition-delay: .08s;}
div.button i:nth-child(5) {transition-delay: .10s;}
div.button i:nth-child(6) {transition-delay: .12s;}
div.button i:nth-child(7) {transition-delay: .14s;}
div.button i:nth-child(8) {transition-delay: .16s;}
div.button i:nth-child(9) {transition-delay: .18s;}
div.button i:nth-child(10) {transition-delay: .2s;}
div.button span {
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    width: 100%;	
    font-size: 1rem;
    font-weight: 800;
    line-height: var(--h);
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all .4s  cubic-bezier(1,.49,.16,.96);
    z-index: 100;
}
.style-1 {
    flex-direction: column;
}
.style-1 i {transform-origin: center left;}
.style-1:hover i {
    transform: scaleX(0);
}
.button:hover span {
    color: hsl(202, 73%, 28%);
    transition-delay: .4s;
}

/*List settings*/

li {
    list-style-type: square;
    padding: 2%;
}

 /* Banner settings */

.banner{
    background-image: url(../images/b5.jpg);
    background-color: hsla(215, 62%, 93%, 1);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
}

.banner_text {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 1.5em;
}

/*Config index especifica*/

/*Config sobre_nosotros especifica*/

/*Pruebas*/

/*Config servicios especifica*/

.carousel img.img {
    max-height: 500px;
    width: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    text-align: left;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.collapsible_content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: justify;
    font-size: 1rem;
}

.collapsible, .collapsible_content {
    padding: 1.5%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.active, .collapsible:hover {
    color: white;
}

.collapsible::after {
    content: "+";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
  }
  
  .active::after {
    content: "-"; /* Unicode character for "minus" sign (-) */
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
  }

/*Config contactanos especifica*/


/*Config error*/

@keyframes myAnimation{
    0%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    100%{
      opacity: 0;
    }
  }
  @keyframes myAnimation2{
    100%{
      opacity: 1;
    }
    50%{
      opacity: 0.5;
    }
    0%{
      opacity: 0;
    }
  }
  
  .disappear{
      animation-name: myAnimation;
      animation-duration: 6000ms;
      animation-fill-mode: forwards;
  }

  .appear{
    animation-name: myAnimation2;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
  }

.error h1{
	font-size: 90px;
	text-transform: uppercase;
	font-weight: 900;
	color: #2c3e5036;
	background-image: url(../images/water.png);
	-webkit-background-clip:text;
	animation: water 15s infinite;
}

.error h2 {
    height: 150px;
}

@keyframes water {
	from{
		background-position: left 0 top 0;
	}
	to{
		background-position: left 1000px top 0;
	}
}


/*Pantalla gigante*/

@media screen and (min-width: 1280px) {
    .body {
        width: 1124px;
        background-image: none;
        background-color: none;
    }
}
/*Pantalla normal*/

@media screen and (min-width: 651px) {

    .map-responsive iframe{
        max-width: 100%;
    }
    .carousel img.img {
        max-height: 500px;
        width: auto;
    }

    #casita {
        max-width: 75px;
        max-height: 75px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }

    .icon {
        max-height: 75px;
    }

    #Result {
        font-size: 2rem;
    }

    .half{
        width: 50%;
    }

    h3{
        font-size: 1.5rem;
    }

    h3, p{
        margin-block-start: 0px;
        margin-block-end: 0px;
        width: 100%;
        height: auto;
    }

    .margin_top {
        margin-top: 2%;
    }
    .padded {
        padding-left: 0%;
        padding-right: 0%;
    }
    .full_margin {
        margin: 1%;
    }
    .img{
        margin: 4%;
        width: 80%;
    }
    .one_forth {
        width: 20%;
    }
    .cuarto{
        width: 20%;
    }
    h1{
        font-size: 2.5rem;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    h2 {
        margin-bottom: 0.3em;
        font-size: 1.75em;
    }
    .a_nav {
        margin-left: 2%;
        margin-right: 2%;
    }
    .banner_text{
        font-size: 250%;
    }
    .name {
        padding: 0.7em;
    }
    .margin_bottom {
        margin-bottom: 0.1em;
    }
    .banner{
        padding: 10%;
    }
    .advantages {
        width: 98%;
        margin-top: 3%;
        background-color: hsla(206, 8%, 96%, 1);
    }
    .padding_bottom{
        padding-bottom: 1.2em;
    }
    .plain_text{
        font-size: 1.2rem;
    }
    .plain_text2{
        font-size: 1.2rem;
        line-height: 1.1em;
    }
    li {
        padding: 0.5%;
    }
    .padded {
        padding-left: 2%;
        padding-right: 2%;
    }

    .padded_vertical{
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

    div.left_border.half{
        border-left-style: solid;
        border-width: 3px;
        border-color: #808080;
        width: 49%;
    }
    #planta {
        width: 50%;
    }

    #Result {
        font-size: 3rem;
    }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px){

    .map-responsive iframe{
        max-width: 95%;
    }
    .carousel img.img {
        max-height: 300px;
        width: auto;
        margin-bottom: 0px;
    }

    .tablet_vanish{
        display: none;
    }
    .icon {
        max-height: 60px;
    }
    .cuarto{
        width: 40%;
    }
}

/*Mobil*/

@media screen and (max-width: 650px){

    .padded_vertical{
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }

    .carousel img.img {
        max-height: 200px;
        width: auto;
    }

    .map-responsive iframe{
        max-width: 95%;
    }

    body {
        margin: 0px;
    }

    .cuarto{
        width: 100%;
    }
    
    #Result {
        font-size: 2.5rem;
    }

    #casita {
        max-width: 40px;
        max-height: 40px;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }

    #planta {
        width: 100%;
    }

    .icon {
        max-height: 40px;
    }

    h3, p{
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        width: 100%;
        height: auto;
    }

    h3{
        font-size: 1.5rem;
    }

    .margin_top {
        margin-top: 1%;
    }

    .text_centered{
        padding: 4%;
        text-align: justify;
    }

    h1{
        font-size: 2rem;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    h2 {
        margin-bottom: 0.3em;
        font-size: 1.5rem;
    }
    .full_margin {
        margin: 1.5%;
    }
    .a_nav {
        margin-left: 2%;
        margin-right: 2%;
    }
    .banner_text{
        font-size: 2rem;
    }
    .name {
        padding: 0.6em;
    }
    .margin_bottom {
        margin-bottom: 0.5em;
    }
    .banner{
        padding: 10%;
    }
    .full .advantages {
        margin-top: 3%;
        margin-right: 1%;
        width: 99%;
        background-color: hsla(206, 8%, 96%, 1);
    }
    .padding_bottom{
        padding-bottom: 1em;
    }
    .plain_text{
        font-size: 1.15rem;
    }
    .plain_text2{
        font-size: 1.15rem;
        line-height: 1.2em;
    }
    li {
        padding: 2%;
    }
    .mobile_vanish, .tablet_vanish{
        display: none;
    }
    .half{
        width: 100%;
    }
    .padded {
        padding-left: 2%;
        padding-right: 2%;
    }
    .img{
        width: 80%;
    }
    
}